html, body  {
	height: 100%;
}

body {
	font-family: 'Open Sans', sans-serif;
}	


header { 
	height: 10%;
}


.menu {
	background-color: white;
	margin: auto;
    height: 100%;
    width: 80%; 	
}

.menu img {
    width: 15%;
    margin: 2% 0 2% 5%;
}


.menu ul li a {
	color:black;
	text-decoration: none;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
}

.contact1 {
	color:gray;
	}

.listamenu {
	list-style-type: none;
	float: right;
	margin: 3% 0% 3% 0%;
	}

 .listamenu li  { 
 	display: inline;
 	margin-right: 8%;
	}



#seccion1 { 
	background-image: url(
		"../images/indexbanner-bg3.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 80%;
	background-position: center;
	}


.parrafo1 { 
	width: 70%;
    margin:auto;

	}


.parrafo1 h1 {
	font-size: 35px;
    font-weight: 700;
    color: white;
    width: 50%;
    display: inline-block;
    margin-top: 20%;

	}

.parrafo1 p {
	display: inline-block;
	font-size: 15px;
	font-weight: 300;
	line-height: 30px;
	color:white;
	width: 45%;
	margin-top:4%;
	margin-bottom: 4%;
    
	}

aside {
	margin: auto;
	width: 60%;
	
	}

form {
	display: block;
	box-shadow: 0px 0px 1px rgba(0,0,0,0.1);
	height: 100%;
	width: 100%;
	margin-top: 25%;
	}


.buscador1 {
	width: 60%;
    text-align: left;
    padding-left: 20px;
    border:none;
    padding: 4% 7%;
  
   
	}

.search {
	text-transform: uppercase;
	color: white;
	background-color: #00adf2;
	font-weight: 400;
	font-size: 10px;
	border: none;
	width: 15%;
    padding: 4.1% 7%;
    margin-left: -0.50%;
    
	}

.ion-search {
	color: white;
	font-size: 10px;
	}




#seccion2 {
	height: 70%;
	position: relative;
	}


.contenedors1 {
	margin: auto;
    width: 80%;
    height: 100%;

    }


#seccion2 article {
	float: left;
    text-align: center;
    width: 20%;
    margin: 15% 2%;
   
	}


#seccion2 article img{
 	display: inline-block;
 	width: 40%;
    height: 40%;
    margin-bottom: 10%;
	}


#seccion2 article h4 {
	font-size: 12px;
	text-transform: uppercase;
	color: black;
	font-weight: 700;
	margin-bottom: 10%;

}

#seccion2 article p {
	font-size: 10px;
	color: grey;
	font-weight: 300;
	line-height: 20px;
	}




#seccion3  {
	height: 85%;
	position: relative;

	}


.s3encabezado {
	margin:auto;
	text-align: center;
	width: 80%;
	display: block;
	}

.s3encabezado img {
	margin-bottom: 3%;
	}

.titulo3 {
	font-size:25px;
	color: black;
	font-weight: 700;
	margin-bottom: 3%;
	}

.subtitulo3 {
	font-size: 15px;
	font-weight: 300;
	color: grey;
	
	}


.s3subcontenedor {
	width: 80%;
	height: 80%;
	margin: auto;


	}

.s3subcontenedor article {
	float: left;
	width: 25%;
	margin: 6% 4%;
	
	}


.s3sub1 article {
	display: block;
	float: right;
	width:70%;
	margin-top: 20%;	
	}


.s3sub1 article img {
	float: right;
	display: inline-block;
	width: 20%;
	height: 20%;
	}

.tizquierda  {
	display: block;
	text-align: right;
	margin: 4% 26% 4% 0%;
	
	}

.tizquierda2  {
	display: block;
	text-align: right;
	margin-top: 10%;
    margin-right: 25%;
	
	}

.s3sub2 img {
	display: inline-block;
	width: 100%;
	z-index: 1;
	position: relative;

	
	}


.s3sub3 article {
	display: block;
	float: left;
	width:70%;
	margin-top: 20%;
	}

.s3sub3 article img {
	float: left;
	display: inline-block;
	width: 20%;
	height: 20%;
	}

.tderecha  {
	display: block;
	text-align: left;
	margin: 4% 0% 4% 26%;
	}

.tderecha2  {
	display: block;
	text-align: left;
	margin-top: 10%;
    margin-left: 25%;
	}


.titulo3a {
	font-size: 12px;
	font-weight: 700;
	color: black;
	text-transform: uppercase;

	
	}

.parrafo3 {
	font-size: 10px;
	color: grey;
	font-weight: 300;
	line-height: 15px;
	
	}






#seccion4 {
	background-image: url("../images/pricing-bg.jpg");
	background-repeat: no-repeat;
	background-size: auto 50%;
	position: center;	
	width: 100%;
	height:110%;
	position: relative;
	
	}



.s4encabezado {
	margin:auto;
	text-align: center;
	width: 80%;
	display: block;
	padding-top: 12%;
	
	}

.s4encabezado img {
	margin-bottom: 3%;
}


.titulo4 {
	font-size:25px;
	color: black;
	font-weight: 700;
	margin-bottom: 3%;
	}

.subtitulo4 {
	font-size: 15px;
	font-weight: 300;
	color: grey;
	}


.s4contenedor {
	width: 80%;
	height: 70%;
    margin: auto;
	}


.s4contenedor article {
	float: left;
	width: 20%;
	height: 70%;
	box-shadow: 0px 0px 6px rgba(0,0,0,0.2);
	margin:5% 2%;
	text-align: center;
	background-color: white;

	}

.titulo4a {
	font-size: 12px;
	font-weight: 700;
	color: grey;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 5%;
	margin-top: 30%;

	}

.subtitulo4a {
	font-size: 25px;
	font-weight: 700;
	color: black;
	text-align: center;
	margin-top: 6%;
	}


.precio {
	font-size: 15px;
	font-weight: 700;
	color: black;
	vertical-align: 55%;
	
	}

.subtitulo4b {
	font-size: 12px;
	font-weight: 300;
	color: black;
	text-align: center;
	margin-top: 2%;
	margin-bottom: 10%;

	}

table {
	border-top: solid black 1px;
	margin:auto;

	}

td {
	
	padding: 10% 6% 6% 6%;
	} 


.tablatexto{
	font-size: 14px;
	font-weight: 300;
	color: black;
	text-align: left;
	
	}

.ttexto2{
	font-size: 15px;
	font-weight: 300;
	text-align: center;
	}

.textocyan { 
	color: #25d4f3;
	}

.textoamarillo {
	color: #f3df0e;
	}

.textonaranja{
	color: #ffae93;
	}

.textoanaranjado{
	color: #f8632b;
	}


.buttontabla {
	font-size: 9px;
	text-transform: uppercase;
	color: white;
	background-color: #00adf2;
	font-weight: 500;
	border: none;
	margin-top: 15%;
	display: inline-block;
	padding: 10% 15%;
	border-radius: 5px;
	}




footer {
	background-color: #142e3f;
	height: 50%;
	text-align: center;
	position: relative;
	}

footer article {
	text-align: center;
	margin: auto;

}


.textofooter {
	font-size: 25px;
	font-weight: 300;
	color: white;
	text-align: center;
	padding: 10% 0;
	
	}

#cantidad {
	font-size: 25px;
	font-weight: 300;
	color: #0aacf7;
	
	}

.footermenor{
	background-color: #091722;
	height: 30%;
	
	}

.legales {
	font-size: 9px;
	font-weight: 300;
	color: white;
	text-align: left;
	float: left;
	margin: 3% 0% 3% 15%;
	

	}


 .menuinferior li  { 
 	display: inline;
 	margin-right: 8%;
	}


.menuinferior {
	list-style-type: none;
	float: right;
	margin: 3% 10% 3% 0%;
   
	}

.menuinferior ul li a {
	color:white;
	text-decoration: none;
	font-size: 10px;
	font-weight: 200;
	}

.ion-chevron-up {
	color:white;
	text-decoration: none;
	font-size: 10px;
	font-weight: 200;
	}

footer nav ul {
	list-style-type: none;

	}


















