html, body  {
	height: 100%;
}

body {
	font-family: 'Open Sans', sans-serif;
}	


header { 
	height: 10%;
}


.menu {
	background-color: white;
	margin: auto;
    height: 100%;
    width: 80%; 	
}

.menu img {
    width: 15%;
    margin: 2% 0 2% 5%;
}


.menu ul li a {
	color:black;
	text-decoration: none;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
}

.contact1 {
	color:gray;
	}

.listamenu {
	list-style-type: none;
	float: right;
	margin: 3% 0% 3% 0%;
	}

 .listamenu li  { 
 	display: inline;
 	margin-right: 8%;
	}



#contacto1 { 
	background-image: url(
		"../images/indexbanner-bg2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 80%;
	background-position: center;
	}


.parrafo1 { 
	width: 80%;
    margin:auto;
    text-align: center;


	}


.parrafo1 h1 {
	font-size: 35px;
    font-weight: 700;
    color: white;
    width: 100%;
    display: inline-block;
    margin-top: 20%;
    text-align: center;




	}

.parrafo1 p {
	display: inline-block;
	font-size: 15px;
	font-weight: 300;
	line-height: 30px;
	color:white;
	width: 45%;
	margin-top:4%;
	text-align: center;

	}


#contacto2 {
	width: 100%;
	height:80%;
	position: relative;
	
	}


.c2encabezado {
	margin:auto;
	text-align: center;
	width: 80%;
	display: block;
	margin-top: 10%;
	
	}


.titulo2 {
	font-size:25px;
	color: black;
	font-weight: 700;
	margin-bottom: 3%;
	}

.subtitulo2 {
	font-size: 15px;
	font-weight: 300;
	color: grey;
	margin-bottom: 6%;
	}


.formulario {
	width: 80%;
	height: 70%;
	margin: auto;
	}

.formulario form {

	height:100%;

	
	}


.form1 {
	width: 48%;
	height: 70%;
	margin: auto;
	}



.formulario input[type="text"]{
	display: inline-block;
	height: 20%;
	padding-left: 1%;
	width: 90%;
	margin: 5% 5% 0% 0%;

	}


.f1 {
 float: left;
 
	}


.formulario input[type="textarea"]{
	display: inline-block;
	height: 83%;
	padding-left: 1%;
	width: 90%;
	margin: 5% 5% 0% 0%;
	}


.f2 {
 float: right;


	}

.f3 {
	height: 20%;
	width: 80%;
	position: relative;
    top: 10%;
    margin: auto;
	}

.formulario input[type="submit"] {
 
	padding: 2% 5%;
	display: block;
	margin:auto;
	padding: 2% 5%;
    display: block;
    margin: auto;
    border-radius: 5px;
    color: white;
    background-color: #00adf2;
    border: none;
    text-transform: uppercase;
	
	}


footer {
	background-color: #142e3f;
	height: 50%;
	text-align: center;
	position: relative;
	}

footer article {
	text-align: center;
	margin: auto;

}


.textofooter {
	font-size: 25px;
	font-weight: 300;
	color: white;
	text-align: center;
	padding: 10% 0;
	
	}

#cantidad {
	font-size: 25px;
	font-weight: 300;
	color: #0aacf7;
	
	}

.footermenor{
	background-color: #091722;
	height: 30%;
	
	}

.legales {
	font-size: 9px;
	font-weight: 300;
	color: white;
	text-align: left;
	float: left;
	margin: 3% 0% 3% 15%;
	

	}


 .menuinferior li  { 
 	display: inline;
 	margin-right: 8%;
	}


.menuinferior {
	list-style-type: none;
	float: right;
	margin: 3% 10% 3% 0%;
   
	}

.menuinferior ul li a {
	color:white;
	text-decoration: none;
	font-size: 10px;
	font-weight: 200;
	}

.ion-chevron-up {
	color:white;
	text-decoration: none;
	font-size: 10px;
	font-weight: 200;
	}

footer nav ul {
	list-style-type: none;

	}


